.play-block {
  cursor: pointer;
  transition: all 0.2s;
}
.modal {
  background-color: rgba(132, 138, 126, 0.8);
  opacity: 0; 
  z-index: -1;
}
#play-field {
  height: 500px; 
  overflow: hidden;
}
#play-field-blocker {
top: 0;
left: 0;
background-color: #0000006b;
z-index: 50;
}
#player-list {
height: 500px;
overflow: auto;
}